body {
    background-color: rgb(43, 145, 200);
}
h1 {
    color: rgb(237, 86, 86);
}
#first {
    color: #41ec9f;
}
.item {
    color: rgb(218, 221, 56);
    text-decoration: underline;
    text-decoration-color: rgb(237, 75, 75);
}
.item1 {
    color: rgb(236, 159, 44);
    /*undeline,line through,over line*/
    text-decoration: underline;
    text-decoration-color: greenyellow;
}
/*.item2{color: blueviolet;}    
.item3{color: rgb(9, 117, 23);}*/
.list-item {
    color: rgb(19, 75, 19);
}
.list-item li {
    text-decoration: underline;
}
/*.main-head h1 {
    color: rgb(46, 36, 36);
}*/
.main-head h1:nth-child(2){color: blueviolet;}