.main-head {
    text-align: center;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 50px;
}
.item {
    height: 300px;
    width: 300px;
    /*max-width: 300px;
    min-height: 300px;*/
    border: 1px solid black;
}
.bg-primary {
    background-color: blue;
}
.bg-warning {
    background-color: yellow;
}
.bg-success {
    background-color: red;
}
.item-second {
    height: 300px;
    width: 50%;
}
.row {
    width: 850px;
    border: 1px solid black;
    background-color: blanchedalmond;
    height: 400px;
}
.col {
    width: 50%;
    height: 200px;
    background-color: brown;
    border: 1px solid black;
}
.col2 {
    width: 50vw;
    height: 200px;
    background-color: rgb(165, 42, 104);
    border: 1px solid black;
}