.body {
    margin: 0;
}

.box {
    width: 400px;
    height: 100px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

.box-one {
    margin-right: auto;
}

.box-two {
    margin-left: auto;
    margin-right: auto;
}

.box-three {
    margin-left: auto;
}