.row {

    width: 80%;
    min-height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.col {
    /*height: 200px;*/
    background-color: rgb(232, 139, 170);
    border: 1px solid black;
}

.row .col:nth-child(1) {
    background-color: green;
    grid-row-start: 1;
    grid-row-end: 4;
}

.row .col:nth-child(2) {
    background-color: green;
    grid-column-start: 2;
    grid-column-end: 4;
}

.row .col:nth-child(6) {
    background-color: green;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
}
.row .col:nth-child(3):nth-child(5){
    background-color: red;
}
.row .col:nth-child(4):nth-child(8){
    background-color: yellow;
}